.card{
  border-radius: 10px;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
}

.card__title{
  margin-left: auto;
  margin-right: auto;
}

.card__title > h3{
  color: white;
}

.card__body{
  background-color: #616161;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}

.card__body > img{
  height: 230px;

}

.cards__stats{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards__stats__type{
  color: white;
  font-size: small;
  font-weight: bold;
  background-color: coral;
  border-radius: 10px;
  padding: 8px;
  margin-right: 5px;
}

.search{
  margin-bottom: 20px;
}
